// Variables
@import './variables/_colors.styl'
@import './variables/_elevations.styl'
@import './variables/_rtl.styl'
@import './variables/_theme.styl'
@import './variables/_variables.styl'

// import vuetify component files
// we can bring these in locally as needed to override
// do this with caution because we'll incur tech debt

// Generic
@import '~vuetify/src/stylus/generic/_animations.styl'
@import '~vuetify/src/stylus/generic/_colors.styl'
@import '~vuetify/src/stylus/generic/_elevations.styl'
@import '~vuetify/src/stylus/generic/_reset.styl'
@import '~vuetify/src/stylus/generic/_transitions.styl'



// Components

@import '~vuetify/src/stylus/components/_textarea.styl'
@import './components/_text-fields.styl'
